<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <h2><%= restaurant.name %></h2>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><%= restaurant.address %></li>
        <li class="list-group-item"><%= restaurant.phone_number %></li>
        <li class="list-group-item"><%= restaurant.category.capitalize %></li>
      </ul>
    </li>
  <% end %>
</ul>
